/* Esercizio 1 */
.ex-1-square {
    transition: background-color 2s ease;
}

.ex-1-square:hover {
    background-color: red;
}

/* Esercizio 2 */
.ex-2-square {
    transition: width 2s ease;
}

.ex-2-square:active {
    width: 100%;
}

/* Esercizio 3 */
.ex-3-square {
    transition: border-radius 1s ease;
}

.ex-3-square:hover {
    border-radius: 50%;
}

/* Esercizio 4 */
.ex-4-square {
    transition: opacity 1s ease;
}

.ex-4-square:hover {
    opacity: 0;
}

/* Esercizio 5 */
.ex-5-square {
    transition: transform 1s ease;
}

.ex-5-square:hover {
    transform: scale(2);
}

.ex-5-square:active {
    transform: scale(0.5);
}

/* Esercizio 6 */
.ex-6-img:hover {
    filter: grayscale(1);
}

/* Esercizio 7 */
.ex-7-img {
    transition: all 1s ease;
}

.ex-7-img:hover {
    filter: grayscale(.6) sepia(.5);
}

/* Esercizio 8 */
.ex-8-img {
    transition: all 2s ease;
}

.ex-8-img:hover {
    border-radius: 20px;
    filter: grayscale(.6) sepia(.5);
}

/* Esercizio 9 */
.ex-9-img {
    transition: all 2s ease;
}

.ex-9-img:hover {
    border-radius: 20px;
    filter: grayscale(.6) sepia(.5);
    transform: scale(1.5);
}

/* Esercizio 10 */
@keyframes ex-10-anim {
    from {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-90deg);
    }

    50% {
        transform: rotate(-180deg);
    }

    75% {
        transform: rotate(-270deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.ex-10-icon {
    animation: ex-10-anim 1s linear infinite;
}

/* Esercizio 11 */
@keyframes ex-11-anim {
    from {
        transform: rotate(0deg);
    }

    90% {
        transform: rotate(300deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.ex-11-icon:hover {
    animation: ex-11-anim 2s linear;
}

/* Esercizio 12 */
@keyframes ex-12-top-anim {
    from {
        left: 10%;
    }

    50% {
        left: calc(100% - 10%);
        transform: translateX(-100%);
    }

    to {
        left: 10%;
    }
}

@keyframes ex-12-bottom-anim {
    from {
        right: 20%;
    }

    50% {
        right: calc(100% - 20%);
        transform: translateX(100%);
    }

    to {
        right: 20%;
    }
}

.ex-12-button:hover .ex-12-top-white {
    animation: ex-12-top-anim 2s linear;
}

.ex-12-button:hover .ex-12-bottom-white {
    animation: ex-12-bottom-anim 2s linear;
}

/* Esercizio 13 */
@keyframes ex-13-top-anim {
    from {
        top: -10px;
        left: 10%;
    }

    30% {
        top: -10px;
        left: 100%;
        transform: translateX(-70%);
    }

    45% {
        top: 100%;
        left: 100%;
        transform: translate(-70%, -50%);
    }

    75% {
        top: 100%;
        left: 0;
        transform: translate(-30%, -50%);
    }

    90% {
        top: -10px;
        left: 0;
        transform: translateX(-30%);
    }

    to {
        top: -10px;
        left: 10%;
    }
}

@keyframes ex-13-bottom-anim {
    from {
        bottom: -10px;
        right: 20%;
    }

    30% {
        bottom: -10px;
        right: 100%;
        transform: translateX(70%);
    }

    45% {
        bottom: 100%;
        right: 100%;
        transform: translate(70%, 50%);
    }

    75% {
        bottom: 100%;
        right: 0;
        transform: translate(30%, 50%);
    }

    90% {
        bottom: -10px;
        right: 0;
        transform: translateX(30%);
    }

    to {
        bottom: -10px;
        right: 20%;
    }
}

.ex-13-button:hover .ex-13-top-white {
    animation: ex-13-top-anim 2s linear;
}

.ex-13-button:hover .ex-13-bottom-white {
    animation: ex-13-bottom-anim 2s linear;
}